.footer {
  background: rgb(57, 57, 80);
  color: rgb(216, 216, 216);
}

.footer_content {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
}
.footer_content_item {
  margin: 0 2rem;
}
.footer_content_item h3 {
  border-bottom: 1px solid rgb(180, 151, 151);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
}
.footer_content_item ul {
  display: grid;
}
.footer_content_item ul li {
  margin-bottom: 0.5rem;
}

.footer_content_item ul li a {
  text-decoration: none;
  color: rgb(216, 216, 216);
}
.footer_content_item ul li a:hover {
  color: #fff;
}
.footer_content_item ul li a div {
  display: flex;
}
.footer_content_item ul li a div i {
  margin-right: 0.5rem;
}
.footer_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(180, 151, 151);
  margin-top: 1rem;
  padding-top: 1rem;
}
.footer_bottom p {
  margin-right: 1rem;
}
.footer_bottom div i {
  margin-right: 1rem;
}
